# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.env*.local

# Learning materials and reference files
一年级数学上
一年级上偏旁关联*.xlsx
一年级语文上学期知识点汇总.docx
.vercel/
.env.local
